.root{
  position: relative;
}
.popup{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  &_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.calendar{
  position: relative;
  z-index: 1;
}
.toggler{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: .75rem 0;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: background .3s;
  &:hover{
    background-color: rgba(0,0,0,.03);
  }
}
