.root{
  position: relative;
}
.popup{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  &_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.calendar{
  position: relative;
  z-index: 1;
}
.input{
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  line-height: inherit;
  width: 100%;
  color: inherit;
  &:focus{
    outline: none;
    border-color: #00B4DB;
  }
}
